= pagination(@page, @pages, @curpage, :output => 'documentbrowser')
%p
  %img#pdf{:src=> resource_path(@page, :output => 'image', :geometry => '600x>', :trim => 1, :curpage => @curpage)}
= pagination(@page, @pages, @curpage, :output => 'documentbrowser')
%h3 Information
%table.zebra
  %tbody
    %tr
      %td Name
      %td&= @page.name
    - if @page.latest_commit
      %tr
        %td Last modified
        %td= date @page.latest_commit.date
      %tr
        %td Version
        %td.version= @page.latest_commit
    %tr
      %td Download
      %td
        %a{:href=> resource_path(@page, :output => 'download')} Download File
