%p
  %a{:href => resource_path(@resource, :output => 'image') }
    %img{:src=> resource_path(@resource, :output => 'image', :geometry => '640x480>'), :alt=>@resource.name}
%h3 General
%table.zebra
  %tbody
    %tr
      %td Name
      %td&= @resource.name
    %tr
      %td Format
      %td= @format
    %tr
      %td Geometry
      %td= @geometry
    - if @resource.latest_commit
      %tr
        %td Last modified
        %td= date @resource.latest_commit.date
      %tr
        %td Version
        %td.version= @resource.latest_commit
- if @exif
  %h3 Exif
  %table.zebra
    %thead
      %tr
        %th Entry
        %th Value
    %tbody
      - @exif.each do |key, value|
        %tr
          %td&= key
          %td&= value
