%p
  %a{:href => resource_path(@page, :output => 'image') }
    %img{:src=> resource_path(@page, :output => 'image', :geometry => '640x480>'), :alt=>@page.name}
%h3&= :information.t
%table.zebra
  %tbody
    %tr
      %td&= :name.t
      %td&= @page.name
    %tr
      %td&= :type.t
      %td&= @type
    %tr
      %td&= :geometry.t
      %td&= @geometry
    - if @page.version
      %tr
        %td&= :last_modified.t
        %td= date @page.version.date
      %tr
        %td&= :version.t
        %td.version&= @page.version
- if @exif
  %h3&= :exif.t
  %table.zebra
    %thead
      %tr
        %th&= :entry.t
        %th&= :value.t
    %tbody
      - @exif.each do |key, value|
        %tr
          %td&= key
          %td&= value
