%p
  %a{:href => resource_path(@resource, :output => 'raw') }
    %img{:src=> resource_path(@resource, :output => 'image', :geometry => '640x480>')}
%table.zebra
  %tbody
    %tr
      %td Name
      %td&= @resource.name
    %tr
      %td Size
      %td #{@filesize} bytes
    %tr
      %td Format
      %td= @format
    %tr
      %td Geometry
      %td= @geometry
    %tr
      %td Last modified
      %td= date @resource.latest_commit.date
    %tr
      %td Version
      %td.sha= @resource.latest_commit.sha
