%p
  %a{:href => resource_path(@resource, :output => 'raw') }
    %img{:src=> resource_path(@resource, :output => 'image', :geometry => '640x480>')}
%h3 General
%table.zebra
  %tbody
    %tr
      %td Name
      %td&= @resource.name
    %tr
      %td Format
      %td= @format
    %tr
      %td Geometry
      %td= @geometry
    %tr
      %td Last modified
      %td= date @resource.latest_commit.date
    %tr
      %td Version
      %td.sha= @resource.latest_commit.sha
- if @exif
  %h3 Exif
  %table.zebra
    %thead
      %tr
        %th Entry
        %th Value
    %tbody
      - @exif.each do |key, value|
        %tr
          %td&= key
          %td&= value
