= pagination(@tree, @pages, @curpage, :output => 'tree')
%table#tree-table
  %thead
    %tr
      %th= :name.t
      %th= :last_modified.t
      %th= :author.t
      %th= :comment.t
      %th= :actions.t
  %tbody
    - if @children.empty?
      %tr
        %td{:colspan=>5}= :empty.t
    - else
      - @children.each do |child|
        - classes = child.tree? ? 'tree' : 'page'
        - if child.page? && !child.extension.empty?
          - classes << " file-type-#{child.extension}"
        %tr
          %td.link
            %a{:href=>resource_path(child), :class => classes}= child.name
          %td= date(child.latest_commit.date)
          %td= child.latest_commit.author.name.truncate(30)
          %td&= child.latest_commit.message.truncate(30)
          %td.actions
            - if child.page?
              %a.action-edit{:href=>action_path(child, :edit), :title => :edit.t}= :edit.t
            %a.action-history{:href=>action_path(child, :history), :title => :history.t}= :history.t
            %a.action-move{:href=>action_path(child, :move), :title => :move.t}= :move.t
            %a.action-delete{:href=>action_path(child, :delete), :title => :delete.t}= :delete.t
= pagination(@tree, @pages, @curpage, :output => 'tree')
