%table.tree.zebra
  %thead
    %tr
      %th= :name.t
      %th= :last_modified.t
      %th= :author.t
      %th= :message.t
      %th= :actions.t
  %tbody
    - if !@tree.path.blank?
      %tr
        %td.link{:colspan => 5}
          %a.tree{:href=>resource_path(@tree, :path => '..')}
            \..
    - @tree.children.each do |child|
      - classes = child.tree? ? 'tree' : 'page'
      - if child.page? && !child.extension.empty?
        - classes << " file-type-#{child.extension}"
      %tr
        %td.link
          %a{:href=>resource_path(child), :class => classes}= child.name
        %td= date(child.latest_commit.date)
        %td= child.latest_commit.author.name
        %td&= child.latest_commit.message.truncate(30)
        %td.actions
          - if child.tree?
            %a.action-archive{:href=>action_path(child, :archive), :title => :archive.t}= :archive.t
          - else
            %a.action-edit{:href=>action_path(child, :edit), :title => :edit.t}= :edit.t
          %a.action-history{:href=>action_path(child, :history), :title => :history.t}= :history.t
          %a.action-move{:href=>action_path(child, :move), :title => :move.t}= :move.t
          %a.action-delete{:href=>action_path(child, :delete), :title => :delete.t}= :delete.t
