- title :changes_of.t(:version => @commit)
%table.zebra
  %tbody
    %tr
      %td= :message.t
      %td&= @commit.message
    %tr
      %td= :author.t
      %td= @commit.author.name
    %tr
      %td= :date.t
      %td= date @commit.date
    %tr
      %td= :deletions.t
      %td= @diff.deletions
    %tr
      %td= :insertions.t
      %td= @diff.insertions
    %tr
      %td= :parents.t
      %td
        - @commit.parent.each do |parent|
          %a{:href=> ('changes'/parent.sha).urlpath }= parent.sha[0..4]
~ format_changes(@diff.patch, :from => @diff.from, :to => @diff.to)
