- title :changes_of.t(:version => @version)
%table.zebra
  %tbody
    %tr
      %td= :comment.t
      %td&= @version.comment
    %tr
      %td= :author.t
      %td= @version.author.name
    %tr
      %td= :date.t
      %td= date @version.date
    %tr
      %td= :parents.t
      %td
        - @version.parents.each do |parent|
          %a{:href=> ('changes'/parent).urlpath }= Olelo::Version.short(parent)
~ format_patch(@version.diff.patch, :from => @version.diff.from, :to => @version.diff.to)
