- title :changes_of.t(:path => @resource.title)
%table.zebra
  %tbody
    %tr
      %td= :version.t
      %td.version&= @version
    %tr
      %td= :comment.t
      %td&= @version.comment
    %tr
      %td= :author.t
      %td= @version.author.name
    %tr
      %td= :date.t
      %td= date @version.date
    %tr
      %td= :parents.t
      %td.version
        - @version.parents.each do |parent|
          %a{:href=> ('changes'/parent).urlpath }= Olelo::Version.short(parent)
= format_diff(@diff)
