- @menu  = :view, :edit, :history, :new
- @title = "Diff of #{@object.pretty_name}"
%table
  %tbody
    %tr
      %td From
      %td
        %a.sha{:href=>object_path(@object, :sha => @diff.from)}= @diff.from
    %tr
      %td To
      %td
        %a.sha{:href=>object_path(@object, :sha => @diff.to)}= @diff.to
    %tr
      %td Deletions
      %td= @diff.deletions
    %tr
      %td Insertions
      %td= @diff.insertions
    %tr
      %td Files
      %td= @diff.size
%p~ format_patch(@diff)
