- menu :view, :edit, :history
- title :diff_of.t(:name => @resource.title)
%table
  %tbody
    %tr
      %td= :from.t
      %td
        %a.sha{:href=>resource_path(@resource, :sha => @diff.from)}= @diff.from
    %tr
      %td= :to.t
      %td
        %a.sha{:href=>resource_path(@resource, :sha => @diff.to)}= @diff.to
    %tr
      %td= :deletions.t
      %td= @diff.deletions
    %tr
      %td= :insertions.t
      %td= @diff.insertions
%p~ format_patch(@diff.patch, @diff.from, @diff.to)
