- menu :view, :edit, :history, :new
- title "Diff of #{@resource.pretty_name}"
%table
  %tbody
    %tr
      %td From
      %td
        %a.sha{:href=>resource_path(@resource, :sha => @diff.from)}= @diff.from
    %tr
      %td To
      %td
        %a.sha{:href=>resource_path(@resource, :sha => @diff.to)}= @diff.to
    %tr
      %td Deletions
      %td= @diff.deletions
    %tr
      %td Insertions
      %td= @diff.insertions
    %tr
      %td Files
      %td= @diff.size
%p~ format_patch(@diff)
