- title :diff_of.t(:name => @resource.title)
%table
  %tbody
    %tr
      %td= :from.t
      %td
        %a.version{:href=>resource_path(@resource, :version => @diff.from)}= @diff.from.short
    %tr
      %td= :to.t
      %td
        %a.version{:href=>resource_path(@resource, :version => @diff.to)}= @diff.to.short
= format_diff(@diff)
