- menu :view, :edit
- title :history_of.t(:path => @resource.title)
%form{:action=> action_path(@resource, :diff) }
  %div
    = show_messages
    %input{:type=>'submit', :value=>:show_diff.t}
    %br
  %table.history
    %thead
      %tr
        %th= :from_short.t
        %th= :to_short.t
        %th= :sha.t
        %th= :author.t
        %th= :date.t
        %th= :message.t
        %th= :commit.t
    %tbody
      - @resource.history.each do |commit|
        %tr
          %td
            %input{:type=>'radio', :name=>'from', :value=> commit.sha}
          %td
            %input{:type=>'radio', :name=>'to', :value=> commit.sha}
          %td.link
            %a.sha{:href=>resource_path(@resource, :sha => commit)}=commit.sha
          %td&= commit.author.name
          %td= date commit.date
          %td&= commit.message.truncate(50)
          %td.link
            %a{:href=> ('commit'/commit.sha).urlpath }= :commit.t
