- menu :view, :edit
- title :history_of.t(:path => @resource.title)
%div
  %p= :drag_drop_for_diff.t
%table.history
  %thead
    %tr
      %th= :message.t
      %th= :author.t
      %th= :date.t
      %th= :commit.t
  %tbody
    - @resource.history.each do |commit|
      %tr{:id =>"commit-#{commit}"}
        %td.link
          %a{:href=>resource_path(@resource, :sha => commit)}&=commit.message.truncate(30)
        %td&= commit.author.name
        %td= date commit.date
        %td.link
          %a{:href=> ('commit'/commit).urlpath }= :commit.t
