- title :history_of.t(:path => @resource.title)
= flash_messages
%div
  %p&= :drag_drop_for_diff.t
%table#history-table
  %thead
    %tr
      %th= :comment.t
      %th= :author.t
      %th= :date.t
  %tbody
    - @resource.history.each do |version|
      %tr{:id =>"version-#{version}"}
        %td
          %a{:href=>resource_path(@resource, :version => version)}&= version.comment.truncate(50)
          (
          %a{:href=>(@resource.path/'changes'/version).urlpath }<>= :changes.t
          )
        %td&= version.author.name.truncate(30)
        %td= date version.date
