%p
  %a{:href => object_path(@page, :output => 'raw') }
    %img{:src=> object_path(@page, :output => 'image', :geometry => '640x480>')}
%table.zebra
  %tbody
    %tr
      %td Name
      %td&= @page.name
    %tr
      %td Size
      %td&= "#{@image.filesize} bytes"
    %tr
      %td Format
      %td&= @image.format
    %tr
      %td Geometry
      %td= "#{@image.columns}x#{@image.rows}"
    %tr
      %td Last modified
      %td= date @page.latest_commit.date
    %tr
      %td Version
      %td= @page.latest_commit.sha
