%p
  %a{:href => resource_path(@resource, :output => 'raw') }
    %img{:src=> resource_path(@resource, :output => 'image', :geometry => '640x480>')}
%table.zebra
  %tbody
    %tr
      %td Name
      %td&= @resource.name
    %tr
      %td Size
      %td&= "#{@image.filesize} bytes"
    %tr
      %td Format
      %td&= @image.format
    %tr
      %td Geometry
      %td= "#{@image.columns}x#{@image.rows}"
    %tr
      %td Last modified
      %td= date @resource.latest_commit.date
    %tr
      %td Version
      %td.sha= @resource.latest_commit.sha
