!!! 5
%html.no-js{:lang => Olelo::Config.locale.sub('_', '-'), :class => page && !page.current? ? 'archive' : nil}
  %head
    %title= Olelo::Config.title + ' - ' + title
    %link(rel='shortcut icon' href='#{absolute_path "static/images/favicon.png?1"}' type='image/png')
    != self.class.theme_links
  %body
    #header
      %h1= Olelo::Config.title
      #info
        - if Olelo::User.logged_in?
          %a{:href => absolute_path(:profile)}= Olelo::User.current.name
          |
          %a{:href => absolute_path(:logout)}= :logout.t
        - else
          %a{:href => absolute_path(:login)}= :login.t
      #search
        %form(action='#{absolute_path :search}' method='get')
          %div
            %label.hidden(for='pattern')= :search.t
            %input{:type=>'text',:id=>'pattern',:name=>'pattern', :value=> params[:pattern] || :search.t, :class=> !params[:pattern] && 'placeholder'}
    #menu!= render(:menu, :layout => false)
    #container
      #sidebar
      #content!= yield
    #footer
      #themes.noprint
      != footer
      .noprint.powered_by
        Powered by
        %a(href='http://github.com/minad/olelo') &#332;lelo
        | #{timer.stop.elapsed_ms}ms
    %script(src='#{absolute_path "static/script.js?13"}' type='text/javascript')
