!!! 5
%html.no-js{:xmlns=>'http://www.w3.org/1999/xhtml', 'xml:lang' => Olelo::Config.locale.sub('_', '-'),
            :class => page && !page.current? ? 'archive' : nil}
  %head
    %title&= Olelo::Config.title + ' - ' + title
    = theme_links
    %link(rel='shortcut icon' href='#{absolute_path "static/images/favicon.png?1"}' type='image/png')
  %body
    #header
      %h1&= Olelo::Config.title
      #info
        - if user.anonymous?
          %a{:href => absolute_path(:login)}&= :login.t
        - else
          %a{:href => absolute_path(:profile)}&= user.name
          |
          %a{:href => absolute_path(:logout)}&= :logout.t
      #search
        %form{:action=> absolute_path(:search), :method=> 'get'}
          %div
            %label.hidden(for='pattern')= :search.t
            %input{:type=>'text',:id=>'pattern',:name=>'pattern', :value=> params[:pattern] || :search.t, :class=> !params[:pattern] && 'placeholder'}
    #menu= render(:menu, :layout => false)
    #container
      #sidebar
      #content= yield
    #footer
      #themes.noprint
      = footer
      .noprint.powered_by
        Powered by
        %a(href='http://github.com/minad/olelo') Ōlelo
        | #{timer.stop.elapsed_ms}ms
    %script(src='#{absolute_path "static/script.js?10"}' type='text/javascript')
