!!! 1.1
%html{:xmlns=>"http://www.w3.org/1999/xhtml", 'xmlns:esi' => 'http://www.edge-delivery.org/esi/1.0'}
  %head
    %title= Wiki::Config.title + ' - ' + include_block(:title)
    = theme_links
    %link{:rel => 'shortcut icon', :href => '/static/images/favicon.png', :type => 'image/png'}
    = include_block :head
  - timemachine = @resource && !@resource.current?
  %body{timemachine ? {:class => 'timemachine'} : {}}
    #header
      %h1&= Wiki::Config.title
      #info
        %esi:include{:src=>'/sys/user'}/
      #search
        %form{:action=>'/search',:method=>'get'}
          %div
            %label.hidden{:for=>'pattern'}= :search.t
            %input.clear{:type=>'text',:id=>'pattern',:name=>'pattern', :value=> params[:pattern] || :search.t}
    #menu= include_menu
    #container
      #sidebar
        %esi:include{:src=>'/sys/sidebar', :onerror => 'continue'}/
      #content
        = render_block :content do
          %h1= include_block :title
          = yield
    #footer
      #themes.noprint
      = render_block :footer do
        Powered by
        %a{:href=>'http://github.com/minad/git-wiki/tree/master'} Git-Wiki
        = include_block :footnote
        %span.noprint= "| #{:generated_in.t(:ms => elapsed_time)}"
    %script{:src=>'/static/script.js', :type=>'text/javascript'}
    = include_block :script
