!!! XML
!!! 1.1
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %title= Wiki::App.title + ' &bull; ' + @title
    %link{:rel => 'stylesheet', :href => '/style.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/highlight.css', :type => 'text/css'}
  %body
    #header
      %h1= Wiki::App.title
      #box
        %a{:href=>'/profile'}= @user.name
        - if @user.anonymous?
          %a{:href=>'/login'} Login
        - else
          %a{:href=>'/logout'} Logout
    = yield
    #footer
      Powered by
      %a{:href=>'http://github.com/minad/git-wiki/tree/master'} Git-Wiki
      - if @footer
        &bull;
        = @footer
