!!! 5
%html.no-js{:xmlns=>"http://www.w3.org/1999/xhtml", 'xmlns:esi' => 'http://www.edge-delivery.org/esi/1.0',
      'xml:lang' => Olelo::Config.locale.sub('_', '-'), :class => @resource && !@resource.current? ? 'timemachine' : nil}
  %head
    %title&= Olelo::Config.title + ' - ' + blocks[:title]
    = theme_links
    %link(rel='shortcut icon' href='/static/images/favicon.png' type='image/png')
  %body
    #header
      %h1&= Olelo::Config.title
      #info
        - if @user.anonymous?
          &= @user.name
          |
          %a(href='/login')= :login.t
        - else
          %a(href='/profile')&= @user.name
          |
          %a(href='/logout')= :logout.t
      #search
        %form(action='/search' method='get')
          %div
            %label.hidden(for='pattern')= :search.t
            %input{:type=>'text',:id=>'pattern',:name=>'pattern', :value=> params[:pattern] || :search.t, :class=> !params[:pattern] && 'placeholder'}
    #menu= menu
    #container
      #sidebar
      #content
        %h1&= blocks[:title]
        #page= yield
    #footer
      #themes.noprint
      = blocks[:footer]
      .noprint.powered_by
        Powered by
        %a(href='http://github.com/minad/olelo') Ōlelo
        | #{@timer.stop.elapsed_ms}ms
    %script(src='/static/script.js' type='text/javascript')
