- title action?(:login) ? :login.t : :sign_up.t
.tabs
  %ul
    %li{tab_selected(:login)}
      %a{:href=>'#tab-login'}= :login.t
    %li{tab_selected(:signup)}
      %a{:href=>'#tab-signup'}= :sign_up.t
  %form{:action => '/login', :method=>'post'}
    #tab-login.fieldset
      %h2 Login
      = show_messages if action? :login
      %label{:for=>'login-user'}= :user.t
      %input#login-user{:type=>'text', :name=>'user'}
      %br
      %label{:for=>'login-password'}= :password.t
      %input#login-password{:type=>'password', :name=>'password'}
      %br
      %input{:type=>'submit', :value=>:login.t}
      %br
  %form{:action => '/signup', :method=>'post'}
    #tab-signup.fieldset
      %h2= :sign_up.t
      = show_messages if action? :sign_up
      %label{:for=>'signup-user'}= :user.t
      %input#signup-user{:type=>'text', :name=>'user'}
      %br
      %label{:for=>'signup-password'}= :password.t
      %input#signup-password{:type=>'password', :name=>'password'}
      %br
      %label{:for=>'signup-confirm'}= :confirmation.t
      %input#signup-confirm{:type=>'password', :name=>'confirm'}
      %br
      %label{:for=>'signup-email'}= :email.t
      %input#signup-email{:type=>'text', :name=>'email'}
      %br
      %input{:type=>'submit', :value=>:sign_up.t}
      %br
