- title :login.t
%p
  != tabs :login, :signup
  %form(action='#{absolute_path :login}' method='post')
    #tab-login.tab.fieldset
      %h2 Login
      != flash_messages :login
      %label(for='login-user')= :user.t
      %input#login-user(type='text' name='user')
      %br
      %label(for='login-password')= :password.t
      %input#login-password(type='password' name='password')
      %br
      %button(type='submit')= :login.t
      %br
  %form(action='#{absolute_path :signup}' method='post')
    #tab-signup.tab.fieldset
      %h2= :signup.t
      != flash_messages :signup
      %label(for='signup-user')= :user.t
      %input#signup-user(type='text' name='user')
      %br
      %label(for='signup-password')= :password.t
      %input#signup-password(type='password' name='password')
      %br
      %label(for='signup-confirm')= :confirm_password.t
      %input#signup-confirm(type='password' name='confirm')
      %br
      %label(for='signup-email')= :email.t
      %input#signup-email(type='text' name='email')
      %br
      %button(type='submit')= :signup.t
      %br
