- object = @object || @page || @tree
%ul
  %li
    %a{:href=>'/'}
      = image('Home', :home)
      Home
  %li
    %a{:href=>'/root/'} &radic;&macr; Root
%ul.wiki
  %li.title Wiki Menu
  - if enabled.include?(:version)
    - if object.prev_commit
      %li
        %a{:href=>object_path(object, object.prev_commit)} &laquo; Older
    - if object.next_commit
      %li
        %a{:href=>object_path(object, object.next_commit)} Newer &raquo;
    - if !object.head?
      %li
        %a{:href=> object.path.urlpath } Current
  - if enabled.include?(:current)
    %li
      %a{:href=> object.path.urlpath } Current
  - if enabled.include?(:new)
    %li
      %a{:href=> object && object.tree? ? (object.path/'new page/new').urlpath : '/new page/new'  }
        = image('New Page', :new)
        New Page
  - if enabled.include?(:edit) && object.page?
    %li
      %a{:href=>action_path(object, :edit) }
        = image('Edit', :edit)
        Edit
  - if enabled.include?(:history)
    %li
      %a{:href=>action_path(object, :history) }
        = image('History', :history)
        History
  - if enabled.include?(:archive)
    %li
      %a{:href=>action_path(object, :archive) }
        = image('Archive', :archive)
        Archive
