%ul
  %li
    %a.action-home{:href=>resource_path(@resource, :path => Wiki::Config.main_page.urlpath), :accesskey=>'z'}= :home.t
  = breadcrumbs(@resource)
  - if @resource && !@resource.current?
    %li.noborder
      = :version.t
      %span.sha{:title => @resource.commit}
        = @resource.commit.sha[0..4]
%ul.wiki
  - if @resource
    - if menu.include?(:version)
      - if @resource.prev_commit
        %li
          %a.action-older{:href=>resource_path(@resource, :sha => @resource.prev_commit), :accesskey=>'o'}= :older.t
      - if @resource.next_commit
        %li
          %a.action-newer{:href=>resource_path(@resource, :sha => @resource.next_commit), :accesskey=>'n'}= :newer.t
      - if !@resource.current?
        %li
          %a.action-current{:href=> @resource.path.urlpath, :accesskey=>'c'}= :current.t
    - if !@resource.new?
      %li
        %a.action-view{:href=> @resource.path.urlpath, :accesskey=>'v'}= :view.t
        %ul
          - engines = Wiki::Engine.find_all(@resource)
          - engines.select {|engine| engine.layout? }.each do |engine|
            %li{:class => @engine && engine.name == @engine.name ? 'selected': nil}
              %a{:href => resource_path(@resource, :output => engine.name)}= engine.name
          - engines.select {|engine| !engine.layout? }.each do |engine|
            %li.download{:class => @engine && engine.name == @engine.name ? 'selected': nil}
              %a{:href => resource_path(@resource, :output => engine.name)}= engine.name
    %li
      - if @resource.discussion?
        %a.action-page{:href=> (@resource.path/'..'/@resource.name[Wiki::DISCUSSION_PREFIX.length..-1]).urlpath, :accesskey=>'p' }= :page.t
      - elsif @resource.meta?
        %a.action-page{:href=> (@resource.path/'..'/@resource.name[Wiki::META_PREFIX.length..-1]).urlpath, :accesskey=>'p' }= :page.t
      - else
        %a.action-discuss{:href=> @resource.discussion_path.urlpath, :accesskey=>'d' }= :discuss.t
    %li
      - if @resource.page?
        %a.action-edit{:href=>action_path(@resource, :edit), :accesskey=>'e'}= :edit.t
      - else
        %a.action-edit= :edit.t
      %ul
        %li
          %a.action-new{:href=> ((@resource.tree? ? @resource.path : '')/'new page/new').urlpath, :accesskey=>'n'}= :new_page.t
        %li
          %a.action-move{:href=> action_path(@resource, :move) }= :move.t
        %li
          %a.action-delete{:href=> action_path(@resource, :delete) }= :delete.t
    %li
      %a.action-history{:href=>action_path(@resource, :history), :accesskey=>'h'}= :history.t
  - else
    %li
      %a.action-new{:href=>'/new page/new', :accesskey=>'n'}= :new_page.t
