%ul
  = breadcrumbs(page)
  - if page && !page.current?
    %li.noborder
      = date page.tree_version.date
%ul.wiki
  - if page && !page.new?
    - if @menu_versions
      - if page.previous_version
        %li
          %a.action-older{:href=>page_path(page, :version => page.previous_version), :accesskey=>'o'}= :older.t
      - if !page.current?
        %li
          %a.action-current{:href=> absolute_path(page), :accesskey=>'c'}= :current.t
      - if page.next_version
        %li
          %a.action-newer{:href=>page_path(page, :version => page.next_version), :accesskey=>'n'}= :newer.t
    %li
      %a.action-view{:href=> absolute_path(page), :accesskey=>'v'}= :view.t
    %li
      %a.action-edit{:href=>action_path(page, :edit), :accesskey=>'e'}= :edit.t
      %ul
        %li
          %a.action-new{:href=> action_path(page, :new), :accesskey=>'n'}= :new_page.t
        - if !page.root?
          %li
            %a.action-move{:href=> action_path(page, :move) }= :move.t
          %li
            %a.action-delete{:href=> action_path(page, :delete) }= :delete.t
    %li
      %a.action-history{:href=>action_path(page, :history), :accesskey=>'h'}= :history.t
  - else
    %li
      %a.action-new{:href=>'/new', :accesskey=>'n'}= :new_page.t
