%ul
  %li
    %a{:href=>object_path(object, :path => Wiki::Config.main_page.urlpath), :accesskey=>'z'}
      = image(:home)
      Home
  = breadcrumbs(object)
  - if object && !object.current?
    %li.noborder
      Tree version
      %span.sha{:title => object.commit.sha}
        = object.commit.sha.truncate(8, '&#8230;')
%ul.wiki
  %li.title Wiki Menu
  - if menu.include?(:version)
    - if object.prev_commit
      %li
        %a{:href=>object_path(object, :sha => object.prev_commit), :accesskey=>'o'} &laquo; Older
    - if object.next_commit
      %li
        %a{:href=>object_path(object, :sha => object.next_commit), :accesskey=>'n'} Newer &raquo;
    - if !object.current?
      %li
        %a{:href=> object.path.urlpath, :accesskey=>'c'} Current
  - if menu.include?(:view)
    %li
      %a{:href=> object.path.urlpath, :accesskey=>'c'} View
  - if menu.include?(:new)
    %li
      %a{:href=> object && object.tree? ? (object.path/'new page/new').urlpath : '/new page/new'  }
        = image(:new)
        New Page
  - if menu.include?(:edit) && object.page?
    %li
      %a{:href=>action_path(object, :edit), :accesskey=>'e'}
        = image(:edit)
        Edit
  - if menu.include?(:history)
    %li
      %a{:href=>action_path(object, :history), :accesskey=>'h'}
        = image(:history)
        History
  - if menu.include?(:archive)
    %li
      %a{:href=>action_path(object, :archive)}
        = image(:archive)
        Archive
