- title :move_page.t(:page => page.title)
%h1= title
%form(action='#{action_path(page, :move)}' method='post')
  .fieldset
    != flash_messages
    %label(for='destination')= :destination.t
    %input#destination(name='destination' type='text' value='#{params[:destination] || page.path}')
    %br
    %button(type='submit' accesskey='m')= :move.t
    %button(type='button' accesskey='c' onclick='history.back()')= :cancel.t
