- @title = "New page #{escape_html @page.path}"
- @title = (@preview_content ? 'Preview new page ' : 'New page ') + @page.pretty_name
- @menu = :new
- if @preview_content
  .preview= @preview_content
.ui-tabs
  %ul
    %li{tab_selected(:new)}
      %a{:href=>'#tab-text'} Text
    %li{tab_selected(:upload)}
      %a{:href=>'#tab-upload'} Upload
  %form{:action => '/', :method=>'post', :enctype=> 'multipart/form-data'}
    #tab-text.box
      %h2 Write text
      = show_messages if action? :new
      %label{:for=>'text-path'} Path
      %input#text-path{:name=>'path',:type=>'text', :value=> @page.path}
      %br
      %input{:type=>'hidden', :name=> 'action',:value=>'new'}
      %label{:for=>'text-content'} Content
      %br
      %textarea#text-content{:name=>'content', :cols=>100, :rows=>22, :value=> params[:content]}&= @page.content
      %br
      %label{:for=>'text-message'} Message
      %input#text-message{:type=>'text', :name=>'message', :value => params[:message], :size => 50}
      %input{:type=>'submit', :name => 'preview', :value=>'Preview'}
      %input{:type=>'submit', :value=>'Save'}
      %input{:type=>'reset', :value=>'Reset'}
      %br
  %form{:action => '/', :method=>'post', :enctype=> 'multipart/form-data'}
    #tab-upload.box
      %h2 Upload a file
      = show_messages if action? :upload
      %label{:for=>'upload-path'} Path
      %input#upload-path{:name=>'path',:type=>'text',:value => @page.path}
      %br
      %label{:for=>'upload-file'} File
      %input#upload-file{:name=>'file', :type=>'file'}
      %input{:type=>'submit', :name => 'action', :value=>'Upload'}
      %br
