- title :new_page.t(:page => @resource.title)
= render_block(:edit_form) do
  .tabs
    %ul
      %li{tab_selected(:new)}
        %a{:href=>'#tab-text'}= :text.t
      %li{tab_selected(:upload)}
        %a{:href=>'#tab-upload'}= :upload.t
    %form{:action => '/', :method=>'post', :enctype=> 'multipart/form-data'}
      #tab-text.box
        %h2= :text.t
        %input{:type=>'hidden', :name=> 'action',:value=>'new'}
        = show_messages if action? :new
        %label{:for=>'text-path'}= :path.t
        %input#text-path{:name=>'path',:type=>'text', :value=> @resource.path}
        %br
        %label{:for=>'text-content'}= :content.t
        %br
        %textarea#text-content{:name=>'content', :cols=>100, :rows=>22}&= params[:content]
        %br
        %label{:for=>'text-message'}= :message.t
        %input#text-message{:type=>'text', :name=>'message', :value => params[:message], :size => 50}
        = render_block(:edit_form_buttons) do
          %input{:type=>'submit', :value=> :save.t, :accesskey => 's'}
          %input{:type=>'reset', :value=> :reset.t, :accesskey => 'r'}
        %br
    %form{:action => '/', :method=>'post', :enctype=> 'multipart/form-data'}
      #tab-upload.box
        %h2= :upload_file.t
        %input{:type=>'hidden', :name=> 'action',:value=>'upload'}
        = show_messages if action? :upload
        %label{:for=>'upload-path'}= :path.t
        %input#upload-path{:name=>'path',:type=>'text',:value => @resource.path}
        %br
        %label{:for=>'upload-file'}= :file.t
        %input#upload-file{:name=>'file', :type=>'file'}
        %br
        = render_block(:upload_form_buttons) do
          %input{:type=>'submit', :value=> :upload.t, :accesskey => 'u'}
        %br
