- title params[:path].blank? ? :new_page.t : "#{:new_page.t}: #{params[:path]}"
%h1&= title
.tabs
  %ul
    = tab :new, :edit
    = tab :upload
  %form(action='/' method='post' enctype='multipart/form-data')
    #tab-edit.box
      %h2= :edit.t
      %input(type='hidden' name='action' value='new')
      = flash_messages if action? :new
      %label(for='edit-path')= :path.t
      %input#edit-path(name='path' type='text' value='#{params[:path]}')
      %br
      %label(for='edit-content')= :content.t
      %br
      %textarea#edit-content(name='content' cols='100' rows='20')&= params[:content]
      %br
      %label(for='edit-comment')= :comment.t
      %input#edit-comment(type='text' name='comment' value='#{params[:comment]}' size='50')
      %button(type='submit' accesskey='s')= :save.t
      %button(type='reset' accesskey='r')= :reset.t
      %br
  %form(action='/' method='post' enctype='multipart/form-data')
    #tab-upload.box
      %h2= :upload_file.t
      %input(type='hidden' name='action' value='upload')
      = flash_messages if action? :upload
      %label(for='upload-path')= :path.t
      %input#upload-path(name='path' type='text' value='#{params[:path]}')
      %br
      %label(for='upload-file')= :file.t
      %input#upload-file(name='file' type='file')
      %br
      %button(type='submit' accesskey='u')= :upload.t
      %br
