- title @resource.title
- menu :version, :edit, :history, :archive
- footnote do
  |
  %span.noprint
    %a{:href=> resource_path(@resource, :sha => @resource.latest_commit.id) }= :permalink.t
    |
  Version
  %a.sha{:href => resource_path(@resource, :sha => @resource.latest_commit.id), :title => @resource.latest_commit.id }= @resource.latest_commit.id[0..4]
  = "by #{@resource.latest_commit.author.name}, #{date @resource.latest_commit.date}"
~ @content
