- title @resource.title
- menu :version
- footnote do
  |
  %span.noprint
    %a{:href=> resource_path(@resource, :version => @resource.latest_commit) }= :permalink.t
    |
  Version
  %a.version{:href => resource_path(@resource, :version => @resource.latest_commit), :title => @resource.latest_commit }= @resource.latest_commit.sha[0..4]
  = "#{:by.t} #{@resource.latest_commit.author.name}, #{date @resource.latest_commit.date}"
~ @content
