- title @resource.title
- footnote do
  |
  %span.noprint
    %a{:href=> resource_path(@resource, :version => @resource.version) }= :permalink.t
    |
  = :version.t
  %a.version{:href => resource_path(@resource, :version => @resource.version), :title => @resource.version }= @resource.version.short
  = "#{:by.t} #{@resource.version.author.name}, #{date @resource.version.date}"
~ @content
