- menu :version, :history, :archive, :new
- title @resource.pretty_name
- footer do
  |
  %span.noprint
    %a.permalink{:href=> resource_path(@resource, :sha => @resource.latest_commit) }= :permalink.t
    |
  Version
  %a.sha{:href => resource_path(@resource, :sha => @resource.latest_commit), :title => @resource.latest_commit.sha}= @resource.latest_commit.sha.truncate(8, '&#8230;')
  = "by #{@resource.latest_commit.author.name}, #{date @resource.latest_commit.date}"
%table.tree.zebra
  %thead
    %tr
      %th= :name.t
      %th= :last_modified.t
      %th= :author.t
      %th= :message.t
      %th= :actions.t
  %tbody
    - @children.each do |level, child, open|
      %tr
        %td.link= tree_link(level, child, open)
        %td= date(child.latest_commit.date)
        %td= child.latest_commit.author.name
        %td= child.latest_commit.message.truncate(50)
        %td
          - if child.tree?
            %a{:href=>action_path(child, :archive), :title => 'Archive'}= image(:archive, :alt => 'Archive')
          - else
            %a{:href=>action_path(child, :edit), :title => 'Edit'}= image(:edit, :alt => 'Edit')
          %a{:href=>action_path(child, :history), :title => 'History'}= image(:history, :alt => 'History')
