:ruby
  @menu   = :version, :history, :archive, :new
  @title  = @tree.pretty_name
  @footer = "#{@tree.head? ? 'Current' : 'Outdated'} Version &bull;\
   Last modified by #{@tree.commit.committer.name}, #{date @tree.commit.committer_date}"
  @feed = (@tree.path/'changelog.rss').urlpath
%table.sortable
  %thead
    %tr
      %th
      %th Name
  %tbody
    - if !@tree.path.empty?
      %tr
        %td= image('Tree', :tree)
        %td
          %a{:href=>path_with_sha(@tree.path/'..', @tree) } ..
    - @tree.children.each do |child|
      %tr
        %td
          - if child.page?
            = image('Page', :page)
          - else
            = image('Tree', :tree)
        %td
          %a{:href=>path_with_sha(child.path, @tree)}=child.name
