:ruby
  @menu   = :version, :history, :archive, :new
  @title  = @tree.pretty_name
  @footer = "Committed by #{@tree.commit.committer.name}, #{date @tree.commit.committer_date}"
  @feed = (@tree.path/'changelog.rss').urlpath
%table.sortable
  %thead
    %tr
      %th
      %th Name
  %tbody
    - if !@tree.path.empty?
      %tr
        %td= image('Tree', :tree)
        %td
          %a{:href=> object_path(@tree, :path => @tree.path/'..') } ..
    - @tree.children.each do |child|
      %tr
        %td
          - if child.page?
            = image('Page', :page)
          - else
            = image('Tree', :tree)
        %td
          %a{:href=> object_path(child) }=child.name
