:ruby
  @menu   = :version, :history, :archive, :new
  @title  = @tree.pretty_name
  @footer = "<a href=\"#{object_path(@tree, :sha => @tree.last_commit)}\">Permalink</a> &bull; " +
            "Version <a class=\"sha\" href=\"#{object_path(@tree, :sha => @tree.last_commit)}\">#{@tree.last_commit.sha.truncate(8, '&hellip;')}</a> " +
            "by #{@tree.last_commit.committer.name}, #{date @tree.last_commit.committer_date}"
  @feed = (@tree.path/'changelog.rss').urlpath
%table.sortable
  %thead
    %tr
      %th
      %th Name
  %tbody
    - if !@tree.path.empty?
      %tr
        %td= image('Tree', :tree)
        %td
          %a{:href=> object_path(@tree, :path => @tree.path/'..') } ..
    - @tree.children.each do |child|
      %tr
        %td
          - if child.page?
            = image('Page', :page)
          - else
            = image('Tree', :tree)
        %td
          %a{:href=> object_path(child) }=child.name
