- @menu   = :version, :history, :archive, :new
- @title  = @object.pretty_name
- @footer = "#{@object.head? ? 'Current' : 'Outdated'} Version &bull; Last modified by #{@object.commit.committer.name}, #{@object.commit.committer_date.ago}"
%table.sortable
  %thead
    %tr
      %th
      %th Name
  %tbody
    - if !@object.path.empty?
      %tr
        %td= image('Tree', :tree)
        %td
          %a{:href=> parent_path(@object) } ..
    - @object.children.each do |child|
      %tr
        %td
          - if child.page?
            = image('Page', :page)
          - else
            = image('Tree', :tree)
        %td
          %a{:href=>child_path(@object, child)}=child.name
