- menu :version, :history, :archive, :new
- title @tree.pretty_name
- footer do
  |
  %a{:href=> object_path(@tree, :sha => @tree.latest_commit) } Permalink
  | Version
  %a.sha{:href => object_path(@tree, :sha => @tree.latest_commit) }= @tree.latest_commit.sha.truncate(8, '&#8230;')
  = "by #{@tree.latest_commit.committer.name}, #{date @tree.latest_commit.committer_date}"
%table.sortable
  %thead
    %tr
      %th
      %th Name
  %tbody
    - if !@tree.path.empty?
      %tr
        %td= image(:tree, :alt => 'Tree')
        %td
          %a{:href=> object_path(@tree, :path => @tree.path/'..') } ..
    - @tree.children.each do |child|
      %tr
        %td
          - if child.page?
            = image(:page, :alt => 'Page')
          - else
            = image(:tree, :alt => 'Tree')
        %td
          %a{:href=> object_path(child) }=child.name
