- menu :version, :history, :archive, :new
- title @tree.pretty_name
- footer do
  |
  %a{:href=> object_path(@tree, :sha => @tree.latest_commit) } Permalink
  | Version
  %a.sha{:href => object_path(@tree, :sha => @tree.latest_commit) }= @tree.latest_commit.sha.truncate(8, '&#8230;')
  = "by #{@tree.latest_commit.committer.name}, #{date @tree.latest_commit.committer_date}"
%table.tree.zebra
  %thead
    %tr
      %th Name
      %th Last modified
      %th Author
      %th Message
      %th Actions
  %tbody
    - @children.each do |level, child, open|
      %tr
        %td.link= tree_link(level, child, open)
        %td= date(child.latest_commit.date)
        %td= child.latest_commit.author.name
        %td= child.latest_commit.message.truncate(50)
        %td
          - if child.tree?
            %a{:href=>action_path(child, :archive)}= image(:archive)
          - else
            %a{:href=>action_path(child, :edit)}= image(:edit)
          %a{:href=>action_path(child, :history)}= image(:history)
